<div class="row">
    <div class="col-11">
        <h2>{{miPorfolio.cuenta7.titulo}}</h2>
    </div>
    <div class="col-1">
        <h1 class="fotoLapizGeneral">+</h1>
    </div>

</div>
<div class="padding" style="border-top: 5px solid rgb(133, 133, 133);">

    <div class="filtro">
        <div class="navbar navbar-dark">
          <div class="container-fluid">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault" style="color: rgb(255, 255, 255);">Habilidades Blandas y Herramientas</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked" style="color: rgb(255, 255, 255);">Lenguaje de Programacion</label>
            </div>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </div>
      

    <div class="row rectangular" *ngFor="let conocimientos of miPorfolio.cuenta7.conocimiento">
        <div class="col-3">
            <h6>{{conocimientos.titulo}}</h6>
            <img [src]="conocimientos.img" alt="utn">
        </div>

        <div class="col" style="margin-top: 60px;">
            <div class="progress">
                <div class="progress-bar conocimiento" role="progressbar"
                    [ngStyle]="{'width': conocimientos.porcentaje + '%', 'background-color': conocimientos.porcentaje >= 70 ? 'green' : conocimientos.porcentaje >= 35 ? 'yellow' : 'red'}"
                    aria-valuemin="0" aria-valuemax="100">
                    {{conocimientos.saber}} {{conocimientos.porcentaje}}%
                </div>

            </div>

        </div>
        <div class="col-1">
            <img src="./assets/images.png" class="fotoLapiz" alt="cambiar">
            <div class="fotoLapiz">

            </div>
        </div>

    </div>
</div>