<div class="row">
  <div class="col-11">
    <h2>{{miPorfolio.titulo}}</h2>
  </div>
  <div class="col-1">
    <h1 class="fotoLapizGeneral">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle-fill cursorIco"
        viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
      </svg>
    </h1>
  </div>

</div>
<div class="padding" style="border-top: 5px solid rgb(133, 133, 133);">

  <div class="row conocimiento-filtro">

    <div class="col-5">

      <div class="container-fluid">

        <div class="form-check form-switch" style="margin-bottom: 20px;">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
          [(ngModel)]="lenguajeProgrmacion" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked" style="color: rgb(255, 255, 255);">Lenguaje de
            Programacion</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
          [(ngModel)]="habilidadesBlandas">
          <label class="form-check-label" for="flexSwitchCheckDefault" style="color: rgb(255, 255, 255);">Habilidades
            Blandas</label>
        </div>
        
      </div>

    </div>
    <div class="col-3">

      

      <div class="container-fluid">

        <div class="form-check form-switch" style="margin-bottom: 20px;">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked2"
          [(ngModel)]="herramientas" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked2"
            style="color: rgb(255, 255, 255);">Herramientas</label>
        </div>
        
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
          [(ngModel)]="Lenguajes">
          <label class="form-check-label" for="flexSwitchCheckDefault"
            style="color: rgb(255, 255, 255);">Lenguajes</label>
        </div>
      </div>
    </div>

    <div class="col-4">
      <form class="" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="boton" type="submit" (click)="comparador()">Buscar</button>
      </form>
    </div>



  </div>



  <app-cono-uni *ngFor="let conocimientos of filtro()" [conocimientos]="conocimientos"></app-cono-uni>

</div>