<div class="inicioCuenta" [ngStyle]="{'display': mostrar}">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor"
        class="bi bi-person-video cursorIcoH" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </svg>

    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="name">
            <label for="nombre">Nombre</label>
            <div *ngIf="nombre?.errors  && nombre?.touched">
                <p *ngIf="nombre?.hasError('required')" class="error">
                    El nombre es requerido.
                </p>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" formControlName="password" placeholder="password" id="password"
                class="form-control">
            <label for="password" class="form-label">Password </label>

            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                    El password es requerido.
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="error">
                    El password debe ser de 8 o más caracteres.
                </p>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12">
            <div class="buttonCuenta">Enviar</div>
        </div>
    </div>

</div>