<div class="row">
    <div class="col-11">
        <h2>{{miPorfolio.titulo}}</h2>
    </div>
    <div class="col-1">
        <h1 class="fotoLapizGeneral" (click)="onClick()">+</h1>
    </div>

</div>

<div class="padding" style="border-top: 5px solid rgb(133, 133, 133);">


    <div class="row rectangular">
            <div class="col-9">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="row ">
                        <div class="col-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" formControlName="nombre">

                            <div *ngIf="nombre?.errors  && nombre?.touched">
                                <p *ngIf="nombre?.hasError('required')" class="error">
                                    El Nombre es requerido.
                                </p>
                            </div>

                            <label for="email" class="rectangular">Email</label>
                            <input type="email" formControlName="email">

                            <div *ngIf="email?.errors  && email?.touched">
                                <p *ngIf="email?.hasError('required')" class="error">
                                    El email es requerido.
                                </p>
                                <p *ngIf="email?.hasError('email')" class="error">
                                    El formato del email debe ser válido.
                                </p>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" formControlName="apellido">

                            <div *ngIf="apellido?.errors  && apellido?.touched">
                                <p *ngIf="apellido?.hasError('required')" class="error">
                                    El apellido es requerido.
                                </p>
                            </div>

                            <label for="motivo" class="rectangular">Motivo</label>
                            <select class="form-select" formControlName="motivo"
                                style="border-radius: 0;padding: 1px 2px;;">
                                <option selected>{{miPorfolio.contacto.contacto1}}</option>
                                <option value="1">{{miPorfolio.contacto.contacto2}}</option>
                                <option value="2">{{miPorfolio.contacto.contacto3}}</option>
                                <option value="3">{{miPorfolio.contacto.contacto4}}</option>
                            </select>

                            <div *ngIf="apellido?.errors  && apellido?.touched">
                                <p *ngIf="apellido?.hasError('required')" class="error">
                                    El motivo es requerido.
                                </p>
                            </div>

                        </div>

                        <div class="rectangular">
                            <label for="mensaje">Mensaje</label>
                            <textarea formControlName="mensaje" name="textarea">daaaadd</textarea>
                            <div *ngIf="mensaje?.errors  && mensaje?.touched">
                                <p *ngIf="mensaje?.hasError('required')" class="error">
                                    El mensaje es requerido.
                                </p>
                            </div>
                            <button type="submit" class="buttonC">Enviar</button>
                        </div>
                    </div>

                </form>

            </div>

            <div class="col-3">
                <div>
                    <img [src]="miPorfolio.info.imgtelefono">
                    <p>{{miPorfolio.info.telefono}}</p>
                </div>
                <div>
                    <img [src]="miPorfolio.info.imagenUbiico">
                    <p>{{miPorfolio.info.dire}}</p>
                </div>

                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                    <img [src]="miPorfolio.info.fotoMail">
                </button>
                <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" style="width: 260px;color: black;">
                            riveramateo10432@gmail.com
                        </div>
                    </div>
                </div>

            </div>


    </div>

</div>