<div class="row">
    <div class="col-11">
        <h2>{{miPorfolio.cuenta3.titulo}}</h2>
    </div>
    <div class="col-1">
        <h1 class="fotoLapizGeneral" (click)="onClick()">+</h1>
    </div>

</div>

<div class="padding" style="border-top: 5px solid rgb(133, 133, 133);"> 
    <div class="row" *ngFor="let expe of miPorfolio.cuenta3.experiencia" style="margin-bottom: 50px;">

        <div class="col-4">
            <h2>{{expe.nombreEmpresa}}</h2>
            <img [src]="expe.fotoEmpresa" style="width: 100%;">
        </div>
        <div class="col-8 center">
            <h4>{{expe.tituloTrabajo}}</h4>

            <div class="row">
                <div class="col-5 center">
                    <h4>Desde {{expe.fechaInicio}}</h4>
                </div>
                <div class="col-2 center">
                    <h4>-----</h4>
                </div>
                <div class="col-5 center">
                    <h4>Hasta {{expe.fechaFin}}</h4>
                </div>
            </div>
            <h4 class="center">Trabajo {{expe.tipoEmpleo}}</h4>
        </div>
        <p class="center">{{expe.info}}</p>
    </div>
    
    
</div>