<header class="row" id="header">
  <div class="col-4">
    <h4><img class="imagenArg" [src]="miPorfolio.encabezado.img"> {{miPorfolio.encabezado.name}}</h4>
  </div>

  <div class="col">
    <nav>
      <ul>
        <li><a href="{{miPorfolio.encabezado.linkig.link}}"><img [src]="miPorfolio.encabezado.linkig.img"
              alt="{{miPorfolio.encabezado.linkig.logo}}" class="img-fluid"></a>
        </li>
        <li><a href="{{miPorfolio.encabezado.linkGmail.link}}"><img [src]="miPorfolio.encabezado.linkGmail.img"
              alt="{{miPorfolio.encabezado.linkGmail.logo}}" class="img-fluid"></a></li>
        <li><a href="{{miPorfolio.encabezado.linkGithub.link}}"><img [src]="miPorfolio.encabezado.linkGithub.img"
              alt="{{miPorfolio.encabezado.linkGithub.logo}}" class="img-fluid"></a>
        </li>
        <li><button (click)="onclick()">{{miPorfolio.encabezado.buton}}</button></li>
      </ul>
    </nav>
  </div>

  <app-login estilo="{{botton}}" (salida)="cerrar()"></app-login>
</header>