<app-encabezado></app-encabezado>



<div class="todo" id="ini">

  <app-fotosini></app-fotosini>

  <div class="row">

    <app-barralateral class="col-3" style="padding: 0px;"></app-barralateral>

    <div class="col-9 contenteee">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
<!-- <div class="todo" id="ini">

  <app-fotosini></app-fotosini>

  <div class="row">

    <div class="col-md-3 barralateral" style="padding: 0px;">
      <app-barralateral></app-barralateral>
    </div>

    <div class="col-md-9 col-sm-12 contenteee">
      <router-outlet></router-outlet>
    </div>

  </div>

</div> -->
<app-piedepagina></app-piedepagina>