<div class="row" style="margin-bottom: 50px;">

    <div class="col-4">
        <h2>{{experiencia.nombreEmpresa}}</h2>
        <img [src]="experiencia.fotoEmpresa" style="width: 100%;">
    </div>
    <div class="col-7 center">
        <h4>{{experiencia.tituloTrabajo}}</h4>

        <div class="row">
            <div class="col-5 center">
                <h4>Desde {{experiencia.fechaInicio}}</h4>
            </div>
            <div class="col-2 center">
                <h4>-----</h4>
            </div>
            <div class="col-5 center">
                <h4>Hasta {{experiencia.fechaFin}}</h4>
            </div>
        </div>
        <h4 class="center">Trabajo {{experiencia.tipoEmpleo}}</h4>
    </div>
    <div class="col-1" (click)="eliminar(experiencia.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    </div>
    <p class="center">{{experiencia.info}}</p>
    
    <hr>

</div>