<div class="nuevaCuenta" [ngStyle]="{'display': mostrar}">
    <h2>Create tu cuenta</h2>

    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombreN" formControlName="nombreN" placeholder="name">
            <label for="nombreN">Nombre</label>
            <div *ngIf="nombreN?.errors  && nombreN?.touched">
                <p *ngIf="nombreN?.hasError('required')" class="error">
                    El nombre es requerido.
                </p>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" formControlName="password" placeholder="password" id="password" class="form-control">
            <label for="password" class="form-label">Contraseña</label>

            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                    La Contraseña es requerida.
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="error">
                    La Contraseña debe ser de 8 o más caracteres.
                </p>
            </div>
        </div>
        <button class="buttonCuenta" type="submit">Enviar</button>

    </form>

    <!-- <form [formGroup]="form" (ngSubmit)="onEnviar($event)">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombreN" formControlName="nombreN" placeholder="name">
            <label for="nombreN">Nombre</label>
            <div *ngIf="nombreN?.errors  && nombreN?.touched">
                <p *ngIf="nombreN?.hasError('required')" class="error">
                    El nombre es requerido.
                </p>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                formControlName="password">
            <label for="floatingPassword">Contraseña</label>
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                    La Contraseña es requerida.
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="error">
                    La Contraseña debe ser de 8 o más caracteres.
                </p>
            </div>
        </div>


        <div class="buttonCuenta" type="submit">Enviar</div>

    </form> -->

</div>