<div class="nuevaCuenta" [ngStyle]="{'display': mostrar}">

    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="name">
            <label for="nombre">Nombre</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name">
            <label for="floatingInput">Apellido</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                formControlName="email">
            <label for="floatingInput">Email</label>
            <div *ngIf="email?.errors  && email?.touched">
                <p *ngIf="email?.hasError('required')" class="error">
                    El email es requerido.
                </p>
                <p *ngIf="email?.hasError('email')" class="error">
                    El formato del email debe ser válido.
                </p>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
            <label for="floatingPassword">Contraseña </label>
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                    El password es requerido.
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="error">
                    El password debe ser de 8 o más caracteres.
                </p>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="passwordconfirm">
            <label for="floatingPassword">Confirme Contraseña</label>
            <div *ngIf="passwordconfirm?.errors && passwordconfirm?.touched">
                <p *ngIf="ppasswordconfirm()" class="error">
                    No coinciden las contraseñas.
                </p>
                <p *ngIf="passwordconfirm?.hasError('required')" class="error">
                    El passworddddd es requerido.
                </p>
                
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="buttonCuenta">Enviar</div>
            </div>
        </div>
    </form>

</div>