<div class="login" [ngStyle]="{'display': estilo}">
    <div class="caja">

        <div class="cerradoBoton" (click)="salir()">X</div>

        

        <app-cuenta-existente mostrar="{{existe}}" ></app-cuenta-existente>
        <app-cuenta-nueva mostrar="{{nueva}}"></app-cuenta-nueva>

        <div class="row">

            <div class="col-6">
                <div class="buttonCuenta" (click)="nuevaExistente('existe')">Iniciar sesion</div>
            </div>

            <div class="col-6">
                <div class="buttonCuenta" (click)="nuevaExistente('nueva')">Crear cuenta</div>
            </div>
            
        </div>
    </div>
</div>