
<div class="login" [ngStyle]="{'display': mostrarCaja()}">
    <div class="caja">
        <div class="row">
            <div class="col-6">
                <div class="buttonCuenta">Iniciar sesion</div>
            </div>
            <div class="col-6">
                <div class="buttonCuenta">Crear cuenta</div>
            </div>
        </div>
        <div class="inicioCuenta">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

        </div>
        <div class="nuevaCuenta">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name">
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name">
                <label for="floatingInput">Apellido</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirme Contraseña</label>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="buttonCuenta">Enviar</div>
            </div>
        </div>
    </div>
</div>