body {
    margin: 0;
    padding: 0;
    /* background: url("https://img2.wallspic.com/previews/4/1/4/6/6/166414/166414-en_blanco_y_negro-geometria-neumaticos_para_automoviles-parrilla-malla-550x310.jpg"); */

    font-family: Arial, sans-serif;
    font-size: 16px;

    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ccc;


    background-color: #191919;
    color: #fff;
    line-height: 1.5;
}

/*-*/
header {
    height: 80px;
    padding: 10px;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    /* ------------------ */
    background-color: #333;
    color: #000000;
    border: 1px solid #ccc;

}

.imagenArg {
    height: 100%;
    width: 200px;
}


.todo {
    padding: 30px;
    padding-bottom: 0;
    height: 100%;
    overflow: auto;
    margin-top: 50px;

}

ul {
    align-items: center;
    list-style: none;
    margin: 0;
    /* margin-bottom: 15px; */
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.center {
    text-align: center;
}


header img {
    width: 60px;
    height: 60px;
}

img {
    width: 100px;
}

nav {
    top: 0;
    position: relative;
    float: right;
    background-color: transparent;
}

li {
    float: left;
    margin-left: 10px;
    display: block;
}

.barra li {
    float: none;
    display: block;
}

article {
    padding: 40px;
}

button {
    width: 100%;
    background-color: brown;
}

textarea,
input {
    width: 100%;
}

.precentacion {
    text-align: center;
}

.foto {
    width: 100%;
    border-radius: 40%;
    max-height: 300px;
    border: 3px solid #ccc;
    /*saca esto si no te gusta la imagen deforme-----------------------------------------------*/
}

.fotoLapiz,
.fotoLapizP {
    cursor: pointer;
    background-color: #222;
    border: 1px solid rgba(0, 0, 0, 0.738);
    border-radius: 50%;
    align-items: center;
}

.fotoLapizGeneral {
    cursor: pointer;
    border-radius: 50%;
}

.fotosConteiner {
    position: relative;
}

.fotoLapizP {
    position: absolute;
    top: 0;
    right: 0;
}

.deMi {
    border-top: 5px solid rgb(133, 133, 133);
    padding-bottom: 30px;
    padding-top: 30px;
}

/* .cv {
    width: 240px;
} */

h4 {
    margin: 0px;
    margin-right: 15px;
}


p {
    padding: 10px;
    margin: 0px;
}

.edu {
    border-top: 5px solid rgb(116, 116, 116);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* 
.eduDentro {
    width: 250px;
    margin: 20px;
} */

footer {
    bottom: 0;
    text-align: center;
    min-height: 70px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;

    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.fotoss {
    margin-bottom: 50px;
    text-align: center;
}



.imageness img {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}

.conocimiento {
    color: rgb(255, 255, 255);
    font-size: 15px;
    align-items: center;
    text-align: center;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* min-height: 120px; */
}

.conocimiento-filtro {
    height: 90px;
    align-items: center;
}

.conocimiento:hover {
    align-items: center;
    text-align: center;
    background-color: #373737;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*-----------------------------------------------------barra lateral------------------------------------*/
.barra {
    border: 1px solid #ccc;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #222;
    min-height: 564px;

}

.barra a {
    font-size: 25px;
    color: #dfdfdf;
}

.barra li {
    padding: 15px;
    margin-top: 20px;
}

.barra a:hover {
    color: rgb(78, 78, 78);
}



/*-----------------------------------------------------barra lateral------------------------------------*/

.rectangular {
    margin-top: 30px;
    /*     margin-bottom: 30px; */
    /* text-align: center; */
}

.padding {
    padding: 20px;
}

/*-----------------------------------------------------   login   ------------------------------------*/
.login {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 100;

}

.caja {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    width: 400px;
}

.inicioCuenta {
    padding: 20px;
}

.nuevaCuenta {
    padding: 20px;
}

.buttonCuenta {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.buttonCuenta:hover {
    background-color: rgb(153, 153, 153);
}

.center {
    text-align: center;
    margin-top: 30px;
}

.error {
    color: brown;
    padding: 0px;
}

.cerradoBoton {
    cursor: pointer;
    float: right;
}



.contenteee {

    max-width: 1200px;
    background-color: #444;
    color: #fff;
    padding: 20px;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
}

.barra.fixed {
    position: fixed;
    top: 0;
    margin-top: 72px;
    padding: 0px;
    width: 290px;
    border: 1px solid #ccc;

    /* no esta bien lo del tamaño
    cuidadooooooooooooooooooooooooo
    */
}

.cursorIco {
    cursor: pointer;
}

.cursorIcoH:hover {
    color: #0056b3;
    cursor: pointer;
}


.cursorIco:hover {
    color: #222;
    cursor: pointer;
}

















.experiencia {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.experiencia h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.experiencia .fecha {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
}

.experiencia .cargo {
    font-weight: bold;
    margin-bottom: 10px;
}

.experiencia .descripcion {
    margin-top: 0;
    margin-bottom: 0;
}


/* .experiencia-imagen {
    margin-left: 20px;
    width: 200px;
    text-align: right;
    align-items: start;
}

.experiencia-imagen img {
    max-width: 100%;
    height: auto;
} */

.experiencia-imagen {
    width: 100%;
    max-height: 200px;
}

.experiencia-imagen img {
    max-width: 100%;
    height: auto;
}








/* ------------------------------------------------------------proyecto------------------------------------------------ */

.proyecto {
    border: 1px solid #ccc;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.proyectoImg {
    width: 100%;
    height: auto;
}

.proyecto h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.descripcion {
    margin-top: 0;
    margin-bottom: 10px;
}

.tecnologias {
    font-style: italic;

}

.boton,
.botonNo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1B75CE;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.boton:hover {
    background-color: #0056b3;
}

.botonNo {
    cursor: pointer;
    background-color: #9d0000;
}

.botonNo:hover {
    background-color: #610000;
}


.iconos-proyecto {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(5px, 20px);
    display: block;
    width: 100px;

    /* ajusta la posición de los iconos */
}





/* -------------------------------------------------educacion--------------------------------------------------- */
.educacion {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;

}

.educacion h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.curso {
    margin-bottom: 20px;
}

.curso h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.curso .institucion {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.curso .fecha {
    margin-top: 0;
    margin-bottom: 5px;
    font-style: italic;
}

.curso .descripcion {
    margin-top: 0;
    margin-bottom: 0;
}




/* -----------------------------------------------------------------alerta------------------------------------- */

.alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.mensaje {
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    max-width: 600px;
    margin: 0 20px;
    color: #000000;
}

.noMostrar {
    display: none;
}




/* -------------------------------------------------- carga ------------------------------------------- */
#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#spinner.show {
    display: block;
}


@media (max-width: 768px) {
    .fotoss {
        display: flex;
        flex-direction: column;
    }

    .center {
        text-align: center;
    }

    .carru {
        display: none;
    }

    .contenteee {
        width: 100%;
    }

    .barra{
        display: none;
    }

    .navs {
        float: none;
    }

    .col-3,
    .col-sm-3 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .deMi .col-md-8,
    .deMi .col-md-4 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-9 {
        visibility: hidden;
    }
    .mostr{
        display: none;
    }

}
