<div class="row">
    <div class="col-11">
        <h2>{{miPorfolio.titulo}}</h2>
    </div>
    <div class="col-1">
        <h1 class="fotoLapizGeneral" (click)="onClick()">+</h1>
    </div>

</div>

<div class="row">
    <div class="col-12 deMi">

        <div class="row">

            <div class="col-8">
                <P>{{miPorfolio.presentacion}}</P>
            </div>

            <div class="col-4">
                <h4>{{miPorfolio.titulocv}}</h4>
                <a href="{{miPorfolio.CV.href}}"><img [src]="miPorfolio.CV.img" alt=""></a>
            </div>

        </div>
    </div>

</div>